<a href="https://colab.research.google.com/github/mkirby1995/Code-for-Space/blob/master/UN_Energy_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lets load some data in.

[Home webpage](http://data.un.org)

[Data](http://data.un.org/_Docs/SYB/CSV/SYB62_T23_201904_Production,%20Trade%20and%20Supply%20of%20Energy.csv)

Were using data from the United Nations today

In [0]:
import pandas as pd

data = 'http://data.un.org/_Docs/SYB/CSV/SYB62_T23_201904_Production,%20Trade%20and%20Supply%20of%20Energy.csv'

energy = pd.read_csv(data,
                     encoding="ISO-8859-1",
                     skiprows=1)

energy.head(3)

`Unnamed: 1 ` What the hell is that?

In [0]:
energy['Unnamed: 1'].value_counts()

Ah, we should rename it to 'Country Name'

In [0]:
energy = energy.rename(columns = {'Unnamed: 1': 'Country Name'})

Did that work?

In [0]:
energy.head(1)

In [0]:
Cool. Moving on..

Im still not entirely sure what all this is yet... Lets get a closer look.

In [16]:
energy.head()

,Region/Country/Area,Country Name,Year,Series,Value,Footnotes,Source
0,1,"Total, all countries or areas",1990,Primary energy production (petajoules),"360,903",NaN,"United Nations Statistics Division, New York, ..."
1,1,"Total, all countries or areas",1995,Primary energy production (petajoules),"380,713",NaN,"United Nations Statistics Division, New York, ..."
2,1,"Total, all countries or areas",2000,Primary energy production (petajoules),"412,155",NaN,"United Nations Statistics Division, New York, ..."
3,1,"Total, all countries or areas",2005,Primary energy production (petajoules),"476,738",NaN,"United Nations Statistics Division, New York, ..."
4,1,"Total, all countries or areas",2010,Primary energy production (petajoules),"530,597",NaN,"United Nations Statistics Division, New York, ..."

How big is this thing?

In [17]:
energy.shape

(8293, 7)

`8293` instances and `7` features....why 8,000?

In [18]:
energy['Year'].value_counts()

2015    1085
2016    1085
2014    1082
2010    1066
2005    1050
2000    1020
1995    1016
1990     889
Name: Year, dtype: int64

Ah. Isn't that nice all but the last two are she same size....

We can sort values by `Year` then use self assignmnet in combination with the`.head` or  `.tail` functions to cut and chop rows. We will use `.shape` to chech our work.

In [22]:
energy = energy.sort_values(by='Year',
                            ascending = False)

energy_2016 = energy.head(1085)

energy_2016.shape

(1085, 7)

Ok now we have a single year of data, but `1085` is still pretty big.

In [23]:
energy_2016['Series'].value_counts()

Total supply (petajoules)                                 235
Supply per capita (gigajoules)                            235
Net imports [Imports - Exports - Bunkers] (petajoules)    233
Primary energy production (petajoules)                    226
Changes in stocks (petajoules)                            156
Name: Series, dtype: int64

Total supply looks like a good place to start. Lets cut the rest off.

The `.head` trick might not be as easy here. We can specify a condition then use the `.loc` function to chop out all the non-conforming rows

In [31]:
condition = (energy['Series'] == "Total supply (petajoules)")

total_2016_supply = energy_2016.loc[condition]

total_2016_supply.shape

(235, 7)